.container
    display: flex
    flex-direction: column
    padding: 12px

.field
    border: 1px solid grey
    padding: 0px 5px
    height: 30px
    display: flex


.text
    border: 1px solid grey
    
