.container{
    background: white;
    
}

.field{
    border: 1px solid grey;
    padding: 0px 5px;
    height: 30px;
    width: 100%;
    display: flex;
    flex: 1;
}

.text{
    border: 1px solid grey;
    padding: 0px 5px;
    width: 100%;
    
}